{%  extends 'base.html' %}

{% block content %}

<div class="accounts-div" >
  <form class="login" method="post" id="login">
      {% csrf_token %}
      <h2>Login</h2>

      <p style="color: red">{{ error_msg }}</p>

      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}

      <br/>

      <div>
          <input class="btn btn-primary ml-2" type="submit" value="login"/>
          <input type="hidden" name="next" value="{{ next }}" />
      </div>

      <br/>
      <p class="text-secondary">Don't have an account? <a style="font-size: large;" href="{% url 'signup' %}">sign up for free</a></p>
  </form>
</div>
{% endblock %}