
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discourse Heap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/gr-styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static '/js/popper.min.js' %}" ></script>
        <script src="{% static '/js/bootstrap.min.js' %}" ></script>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    </head>

    <body>
        {% include 'header.html' %}

        <hr/>

        {% block content %}
        {% endblock %}

        <hr/>

        {% include 'footer.html' %}

        <div class="clearfix"></div>
            <div id="snackbar" style="text-align: center;"></div>
        </div>

        <script>
            function showSnackbar(text) {
                var x = document.getElementById("snackbar");
                x.innerHTML = text;
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }
        </script>

        {% block javascript %}
        {% endblock %}
    </body>
</html>