{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h4>{{ discussion.event.title }}</h4>
    <hr/>

    <div id="messages"></div>

    <br/>

    <p id="post-message" style="text-align:center;"></p>
</div>

{% if user.is_authenticated and discussion.state != 2 %}
<br/><br/><br/>
    <div class="send-message-div">
        <div class="container">
            <br/>
            <textarea id="message-text"></textarea>
            <button style="float:left;color:white;" class="btn btn-primary ml-2" onclick="sendMessage(true);">Propose Common Ground</button>
            <button style="float:right;color:white;" class="btn btn-primary ml-2" onclick="sendMessage(false);">Send Message</button>
            <br/><br/><br/>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block javascript %}

<script>
    $(document).ready(function(){
        refreshMessages();
    });

    function sendMessage(isCommonGroundProposal) {
        if (isCommonGroundProposal)  {
            console.log("sdfdsf");
            alert("You are proposing common ground. The other user must confirm to conclude this conversation");
        }

        if (document.getElementById("message-text").value==""||document.getElementById("message-text").value==" ") {return}
        {% if request.user.is_authenticated %}
            $.ajax({
                url: "{% url 'post_message' discussion_pk=discussion.pk %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'isCommonGroundProposal':isCommonGroundProposal,
                    "text": document.getElementById("message-text").value
                },
                dataType: 'json',
                success: function (data) {
                    if (data.wasPosted) {
                        // refresh posts
                        refreshMessages();
                        // clear text, scrooll down,  and close form
                        document.getElementById("message-text").value = "";
                        togglePostViewForm(false);
                        window.scroll(0, document.documentElement.offsetHeight);
                    } else {
                        var msg = document.getElementById("post-message");
                        msg.style.color = 'red';
                        msg.innerHTML = "Error sending message";
                        console.log(error);
                    }
                },
                error: function (request, status, error) {
                    var msg = document.getElementById("post-message");
                    msg.style.color = 'red';
                    msg.innerHTML = "Error sending message";
                    console.log(error);
                }
            });
        {% else %}
            var msg = document.getElementById("post-message");
            msg.style.color = 'red';
            msg.innerHTML = "You must sign in to post";
        {% endif %}
    }

    // Get all the posts on this event
    function refreshMessages() {
        $.ajax({
            url: "{% url 'get_discussion_messages' pk=discussion.pk %}",
            data: {},
            dataType: 'json',
            success: function (data) {
                displayMessages(data.messages);
            }
        });
    }

    // Display messages for this event
    function displayMessages(messages) {
        messagesHtml = "";

        for (i = 0; i < messages.length; i++) {
            if (messages[i].message_type == 0) {
                messagesHtml += "<div>";
            } else if (messages[i].message_type == 2) {
                messagesHtml += "<hr/><div class='common-ground-proposal'><p style='text-align:center;color:lightgray;'>common groung proposal</p>";
            }
            if (i == 0 || i > 0 && messages[i-1].user != messages[i].user ) {
                messagesHtml += "<h6>" + messages[i].user +"</h6>";
            }
            messagesHtml += "<p class='text-secondary'>" + messages[i].text + "</p>";

            if (messages[i].message_type == 2) {
                if (messages[i].user == "{{ request.user }}") {
                    messagesHtml += "<p style='color:gray;'>(waiting for other user to accept or reject)</p>";
                } else {
                    messagesHtml += "<div style='float:right;color:white;'><a class='btn btn-primary ml-2' onclick='acceptCommonGround(" + messages[i].pk + ");'>accept</a></div><br/><br/>";
                }
            }

            if (i < messages.length - 1 && messages[i+1].user != messages[i].user ) {
                messagesHtml += "<hr/>";
            }
            messagesHtml += "</div>";
        }

        document.getElementById("messages").innerHTML = messagesHtml;
    }

function acceptCommonGround(mssgPk) {
    alert("You are accepting common ground. Each discussion participant will be awarded 1 common ground point. You will be redirected to the event page");
    window.location.href = "/discussions/accept-common-ground/" + mssgPk;
}
</script>

{% endblock %}

{#
    <script>
        /*
        const discussionPk = "{{ discussion_pk }}";
    
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/discussion/'
            + discussionPk
            + '/'
        );
    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };
    
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
    
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
        */
    </script>
#}