{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h3>{{ event.title }}</h3>
        <hr/>
        <p class="text-secondary">{{ event.description }}</p>
        <br/>

        <p id="post-message" style="text-align:center;"></p>

        <div class="bordered-container">
            {% if request.user.is_authenticated %}
                <p style="float:left;">Post your view on the topic</p>
                <button id="open-post-form" class="btn btn-primary ml-2" onclick="togglePostViewForm(true);" style="float:right;">Post</button>
                <br/>
                <div id="post-view-div" style="display:none;">
                    <textarea id="view-text" cols="30" rows="20"></textarea>
                    <button class="btn btn-light ml-2" onclick="togglePostViewForm(false);" style="float:left;">Cancel</button>
                    <button class="btn btn-primary ml-2" onclick="postView();" style="float:right;">Post</button>
                    <br/><br/>
                </div>
            {% else %}
                <p class="text-secondary" style="text-align: center;">You must sign in to post your view</p>
            {% endif %}
        </div>
        
        <br/><hr/><br/>

        <div id="view-posts"></div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        refreshEventPosts();
    });

    // Toggle post view form
    function togglePostViewForm(show) {
        if (show) {
            document.getElementById("post-view-div").style.display = "block";
            document.getElementById("open-post-form").style.display = "none";
        } else {
            document.getElementById("post-view-div").style.display = "none";
            document.getElementById("open-post-form").style.display = "block";
        }
    }

    // Post the view if logged in
    function postView() {
        if (document.getElementById("view-text").value==""||document.getElementById("view-text").value==" ") {return}
        // This is weird, don't think about it too much
        {% if request.user.is_authenticated %}
            $.ajax({
                url: "{% url 'post_view' event_pk=event.pk %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    "text": document.getElementById("view-text").value
                },
                dataType: 'json',
                success: function (data) {
                    if (data.wasPosted) {
                        var msg = document.getElementById("post-message");
                        msg.style.color = 'green';
                        msg.innerHTML = "Your view has been posted";
                        // refresh posts
                        refreshEventPosts();
                        // clear text and close form
                        document.getElementById("view-text").value = "";
                        togglePostViewForm(false);
                    } else {
                        var msg = document.getElementById("post-message");
                        msg.style.color = 'red';
                        msg.innerHTML = "Error posting view";
                        console.log(error);
                    }
                },
                error: function (request, status, error) {
                    var msg = document.getElementById("post-message");
                    msg.style.color = 'red';
                    msg.innerHTML = "Error posting view";
                    console.log(error);
                }
            });
        {% else %}
            var msg = document.getElementById("post-message");
            msg.style.color = 'red';
            msg.innerHTML = "You must sign in to post";
        {% endif %}
    }
    
    // Get all the posts on this event
    function refreshEventPosts() {
        $.ajax({
            url: "{% url 'get_event_posts' pk=event.pk %}",
            data: {},
            dataType: 'json',
            success: function (data) {
                displayMessages(data.messages);
            }
        });
    }

    // Display messages for this event
    function displayMessages(messages) {
        messagesHtml = "";

        for (i = 0; i < messages.length; i++) {
            console.log(messages[i]);
            messagesHtml += "<div class='start-message-div'>";
            messagesHtml += "<h6>" + messages[i].user +"</h6><p>" + messages[i].text + "</p>";

            // Don't allow user to respond to self
            if (messages[i].user != "{{ request.user }}") {
                messagesHtml += "<a class='ml-2' style='float:right;' href='/discussions/join-discussion/" + messages[i].pk + "'>Respond</a><br/>";
            }
            messagesHtml += "</div></br>";
        }

        document.getElementById("view-posts").innerHTML = messagesHtml;
    }
</script>
{% endblock %}